body {
    background-color: rgb(10, 240, 21);
    position: relative;
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #eca200;
    border-collapse:collapse;
    position: sticky;
    top: 20px;
  }
  
li {
    float: left;
    border-right: solid 3px lawngreen;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #c20bb3;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

#tab {
    position: sticky;
    top: 20px;
    z-index: 1;
    margin-bottom: 75px;
}
.blogPanel {
    width: 60%;
    display: inline-block;

}

.sidePanel {
    width: 35%;
    display: inline-block;
    position: absolute;
    right: 0px;
}

.sideImage {
    width: 60%;
}
